img {
  margin-bottom: 1%;
  width: 60%;
  border: 10px solid pink;
  border-radius: 20px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: grey;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.btn {
  background-color: yellowgreen;
  border-color: yellowgreen;
}

